{% extends 'base.html.twig' %}
{% block title %}Contacto{% endblock %}
	
	{% block body %}



		<main class="centrado">
			<form class="contenido">
				<label>Su nombre</label>
				<input maxlength="90" class="formulario" type="text" name="Nombre">
				<label>Email</label>
				<input maxlength="90" class="formulario" type="email" name="email">
				<label>Asunto</label>
				<input maxlength="90" class="formulario" type="text" name="asunto">
				<label>Su mensaje</label>
				<textarea class="formulario"></textarea>
				<input class="boton" type="submit" name="enviar">
			</form>
		</main>
	</div>



	
{% endblock %}