{% extends 'base.html.twig' %}
{% block title %}Sobre Nosotros{% endblock %}

	{% block body %}


		<main>
			<h2><iframe class="iframe" src="https://www.youtube.com/embed/6THZMVLl_oQ" allow="autoplay; encrypted-media" allowfullscreen></iframe></h2>
		</main>
	</div>



{% endblock %}